.CreateForm {
  margin: 10px 30px;
  padding: 15px;
  border: solid 2px #a5a5a5;
  width: 35%;
}

.FormLabel {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.FormInput {
  border-radius: 20px;
  padding: 5px 10px;
  border: solid 1px black;
}

.FormInputWidth {
  width: 500px;
}

.SubmitButton {
  text-align: center;
  margin-top: 10px;
}

.SubmitButtonWidth {
  width: 200px;
  border-radius: 20px !important;
  margin-right: 5px;
}
.map {
  margin: 20px 0px;
}
