.AddUserButton {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Users_table {
  width: 60%;
  // text-align: center;
  margin: auto;
}

.AvatarImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.PaginationDiv {
  float: right;
}